<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{'REGISTRATION.FORGOT_PASSWORD' | translate}}</h3>
</div>

<form name="forgot"
      [formGroup]="forgotForm"
      (submit)="forgotForm.valid && send()"
      #forgotFormElement="ngForm"
      novalidate>

  <div class="modal-body" id="modal-body">

    <ma-form-input
      [formElement]="forgotFormElement"
      [form]="forgotForm"
      [label]="'FORMS.FORGOT_PASSWORD_FORM.EMAIL'"
      [name]="'email'"
      [placeholder]="'FORMS.FORGOT_PASSWORD_FORM.EMAIL'"
      [messages]="{pattern: 'FORMS.VALIDATIONS.EMAIL_INVALID'}">
    </ma-form-input>

  </div>

  <div class="modal-footer">
    <button class="button"
            type="button"
            (click)="$Modal.dismiss()">
      {{'BUTTON.CANCEL' | translate}}
    </button>

    <button class="button button-primary"
            type="submit"
            [disabled]="forgotForm.invalid">
      {{'BUTTON.SEND' | translate}}
    </button>
  </div>
</form>

