<div class="container-fluid changePassword">
  <img class="myanswers-logo" src="../../../assets/images/logo.png" alt="">
  <div class="row">
    <div class="col-md-6">
      <!--Header-->
      <div class="header">
        <h3 class="settings-title-active">{{'CHANGE_PASSWORD.TITLE' | translate}}</h3>
        <p class="setting-description">{{'CHANGE_PASSWORD.DESCRIPTION' | translate}}</p>
      </div><!--END: Header-->

      <!--Content-->
      <div class="content">
        <form name="changePassword"
              [formGroup]="changePasswordForm"
              (submit)="changePasswordForm.valid && submit()"
              #changePasswordFormElement="ngForm"
              novalidate>

          <!--oldPassword-->
          <ma-form-input
            [formElement]="changePasswordFormElement"
            [form]="changePasswordForm"
            [label]="'FORMS.CHANGE_PASSWORD_FORM.CURRENT_PASSWORD'"
            [name]="'oldPassword'"
            [type]="'password'"
            [messages]="{pattern: 'FORMS.VALIDATIONS.PASSWORD_INVALID'}"
          >
          </ma-form-input><!--END: oldPassword-->

          <!--newPassword-->
          <ma-form-input
            [formElement]="changePasswordFormElement"
            [form]="changePasswordForm"
            [label]="'FORMS.CHANGE_PASSWORD_FORM.PASSWORD'"
            [name]="'newPassword'"
            [type]="'password'"
            [messages]="{pattern: 'FORMS.VALIDATIONS.PASSWORD_INVALID'}"
          >
          </ma-form-input><!--END: newPassword-->

          <!--confirmPassword-->
          <ma-form-input
            [formElement]="changePasswordFormElement"
            [form]="changePasswordForm"
            [label]="'FORMS.CHANGE_PASSWORD_FORM.PASSWORD_CONFIRM'"
            [name]="'confirmPassword'"
            [type]="'password'"
            [messages]="{pattern: 'FORMS.VALIDATIONS.PASSWORD_INVALID'}"
          >
          </ma-form-input><!--END: confirmPassword-->

          <!--actions-->
          <div class="footer">
            <button type="submit"
                    class="button button-primary">
              {{"BUTTON.SAVE" | translate}}
            </button>
          </div><!--END: actions-->

        </form>
      </div><!--END: Content-->
    </div>
  </div>
</div>
