<div class="container-fluid" *ngIf="resetPasswordForm">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h1 class="text-center">{{ 'REGISTRATION.RESET_PASSWORD' | translate}}</h1>

      <form name="resetPassword"
            [formGroup]="resetPasswordForm"
            (submit)="resetPasswordForm.valid && submit()"
            #resetPasswordFormElement="ngForm"
            novalidate>

        <!--newPassword-->
        <ma-form-input
          [formElement]="resetPasswordFormElement"
          [form]="resetPasswordForm"
          [label]="'FORMS.CHANGE_PASSWORD_FORM.PASSWORD'"
          [name]="'password'"
          [type]="'password'"
          [messages]="{pattern: 'FORMS.VALIDATIONS.PASSWORD_INVALID'}"
        ></ma-form-input><!--END: newPassword-->

        <!--confirmPassword-->
        <ma-form-input
          [formElement]="resetPasswordFormElement"
          [form]="resetPasswordForm"
          [label]="'FORMS.CHANGE_PASSWORD_FORM.PASSWORD_CONFIRM'"
          [name]="'password_repeat'"
          [type]="'password'"
          [messages]="{pattern: 'FORMS.VALIDATIONS.PASSWORD_INVALID'}"
        ></ma-form-input><!--END: confirmPassword-->

        <!--actions-->
        <div class="footer">
          <button type="submit"
                  class="button button-primary"
                  [disabled]="resetPasswordForm.invalid">
            {{"BUTTON.RESET_PASSWORD" | translate}}
          </button>
        </div><!--END: actions-->

      </form>
    </div>
  </div>
</div>
