<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{'FORMS.CHANGE_PASSWORD_FORM.PASSWORD_CONFIRM' | translate}}</h3>
</div>

<form name="personal"
      [formGroup]="confirmPasswordForm"
      (submit)="confirmPasswordForm.valid && submit()"
      #confirmPasswordFormElement="ngForm"
      novalidate>

  <div class="modal-body" id="modal-body">
      <ma-form-input
        [formElement]="confirmPasswordFormElement"
        [form]="confirmPasswordForm"
        [label]="'FORMS.LOGIN_FORM.PASSWORD'"
        [name]="'password'"
        [type]="'password'"
        [messages]="{pattern: 'FORMS.VALIDATIONS.PASSWORD_INVALID'}">
      </ma-form-input>
  </div>
  <div class="modal-footer">
    <button class="button"
            type="button"
            (click)="$Modal.dismiss()">
      {{'BUTTON.CANCEL' | translate}}
    </button>

    <button class="button button-primary"
            type="submit"
            [disabled]="confirmPasswordForm.invalid">
      {{'BUTTON.SEND' | translate}}
    </button>
  </div>
</form>

