@import "../../../../_variables.scss";
.upload-container {

  img {
    width: 100px;
    height: 100px;
  }

  .upload-image {
    border: 1px dashed #bfbfbf;
    width: 110px;
    height: 100px;
    color: #bfbfbf;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
  }
  .uploaded-image {
    border: none;
    position: relative;
    width: 110px;
    height: 100px;

    i {
      position: absolute;
      top: 0;
      left: 100%;
    }
  }
}
