<div class="container-fluid helpWidget">
  <div class="row">
    <div class="col-md-12">
      <!--Header-->
      <div class="header">
        <div class="row">
          <div class="col-md-9">
            <h3 class="settings-title-active">{{'HELP_WIDGET.TITLE' | translate}}</h3>
            <p class="setting-description">{{'HELP_WIDGET.DESCRIPTION' | translate}}</p>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-12">
                <img class="myanswers-logo" src="../../../assets/images/logo.png" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group"
                     ngbDropdown>
                  <ma-my-kb-list (onChangeKB)="switchKB($event)" [withButton]="true"></ma-my-kb-list>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--END: Header-->
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <form name="widgetForm"
                    [formGroup]="widgetForm"
                    #widgetFormElement="ngForm"
                    novalidate>
                <!--Content-->
                <div class="row">
                  <div class="col-md-12">
                    <div class="widget-code">
                      <label class="form-control-label">{{'HELP_WIDGET.PLACE_CODE' | translate}}</label>
                      <textarea class="form-control"
                                [formControlName]="'liveChatScript'"
                                readonly="readonly"
                                cols="90"
                                rows="4"
                      ></textarea>
                    </div>

                    <!--name-->
                    <ma-form-input
                      [formElement]="widgetFormElement"
                      [form]="widgetForm"
                      [label]="'HELP_WIDGET.ADD_LINK'"
                      [placeholder]="'https://lc.chat/now/your_license/'"
                      [name]="'liveChatUrl'"
                      [messages]="{pattern: 'HELP_WIDGET.INVALID_LIVE_CHAT_URL'}"
                    ></ma-form-input><!--END: name-->
                  </div>
                </div>
                <!--END: Content-->
              </form>

            </div>
            <div class="col-md-6">
              <form name="helpwidgetstyle"
                    [formGroup]="helpWidgetForm"
                    #helpWidgetFormElement="ngForm"
                    novalidate>
                <div class="row">
                  <!--Help widget background-->
                  <div class="col-md-12">
                    <ma-form-color-picker
                      [formElement]="helpWidgetFormElement"
                      [form]="helpWidgetForm"
                      [label]="'FORMS.APPEARANCE.HELP_WIDGET.WIDGET_COLOR'"
                      [name]="'widgetColor'"
                    ></ma-form-color-picker>
                  </div><!--END: Help widget background-->
                </div>
                <div class="row">
                  <!--Live chat background-->
                  <div class="col-md-12">
                    <ma-form-color-picker
                      [formElement]="helpWidgetFormElement"
                      [form]="helpWidgetForm"
                      [label]="'FORMS.APPEARANCE.HELP_WIDGET.WIDGET_BUTTON_COLOR'"
                      [name]="'widgetbuttonColor'"
                    ></ma-form-color-picker>
                  </div><!--END: Live chat background--->
                </div>
                <div class="row">
                  <!--Help widget button Color-->
                  <div class="col-md-12">
                    <ma-form-color-picker
                      [formElement]="helpWidgetFormElement"
                      [form]="helpWidgetForm"
                      [label]="'FORMS.APPEARANCE.HELP_WIDGET.WIDGET_LIVECHAT_COLOR'"
                      [name]="'livechatColor'"
                    ></ma-form-color-picker>
                  </div><!--END: Help widget button Color-->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--Footer-->
      <div class="footer">
        <button class="button button-primary"
                (click)="submit()">
          {{'BUTTON.SAVE' | translate}}
        </button>
      </div><!--End: Footer-->
    </div>
  </div>
</div>
