@import "../../../../_variables.scss";

.faq-statuses-sidebar {
  .list-group-item{
    cursor: pointer;
    border-radius: 0;
    border: none;
    background: none;
    color: $greyTextColor;
    font-size: $fontSize;
    font-weight: normal;

    &:hover{
      background-color: rgba(#000, 0.1);
    }
  }

  .badge{
    font-size: $fontSize;
    font-weight: normal;
    background: none;
    color: inherit;
  }

  .untranslated{
    cursor: pointer;
    border-radius: 0;
    border: none;
    background: none;
    color: #808080;
    font-size: 1.4rem;
    font-weight: normal;
    padding: .75rem 1.25rem;

  }
  .untranslated:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

}
