$fontSize:                1.4rem;
$fontLg:                  2.4rem;
$fontSm:                  1.2rem;

$bgColor:                 #fff;
$contentPadding:          20px 0;
$primaryColor:            #4aa3df;

$darkTextColor:           #212121;
$lightTextColor:          #f8f8f8;
$darkGreyTextColor:       #6f6f6f;
$greyTextColor:           #808080;
$lightGreyTextColor:      #bfbfbf;

$dividerColor:            #e3e3e3;
$dividerDarkColor:        #212121;

$navbar-width:            60px;
$navbarBg:                #2b343f;
$navbarActive:            #3a92d9;
$navbarColor:             #bab9ba;

$spinnerSize:             80px;

//buttons
$buttonBorderRadius:      4px;
$buttonBg:                $primaryColor;
$buttonColor:             $lightTextColor;
$iconButtonsSize:         40px;
$iconButtonsColor:        $darkGreyTextColor;
$buttonFontSize:          1.9rem;

//tree
$treeLangWidth:            50px;
$treeAuthorWidth:          200px;
$treeCreatedWidth:         75px;
$treeCollapseMargin:      20px;

//users
$usersListEmail:          280px;
$usersListRole:           80px;
$usersListActions:        230px;

//switch
$switchBg:                #fff;
$switchBorder:            #dfdfdf;
$switchWidth:             42px;
$switchHeight:            20px;
$switchPrimaryBg:         $primaryColor;
$switchPrimaryBorder:     $primaryColor;
$switchSuccessBg:         #64bd63;
$switchSuccessBorder:     #64bd63;
$switchDangerBg:          #FF2211;
$switchDangerBorder:      #FF2211;
$switchWarnBg:            #ffaa00;
$switchWarnBorder:        #ffaa00;

$tagsBgColor: #dddddd;

$fonLg: 40px;

$footer-width: 450px;
